@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@layer base {
  h1 {
    @apply text-xl;
    @apply font-header;
    @apply uppercase;
  }
  h2 {
    @apply text-xl;
    @apply font-header;
    @apply uppercase;
  }
  label {
    @apply font-body;
    @apply uppercase;
    @apply text-sm;
  }
  .transport {
    @apply text-xs;
  }
  p {
    @apply font-body;
  }
  button {
    @apply text-sm;
    @apply border;
    @apply rounded;
    @apply p-1;
    @apply m-1;
  }
  input {
    @apply text-sm;
    @apply rounded;
    @apply p-1;
    @apply m-1;
  }
  body {
    @apply bg-gray-300;
  }
}

@layer components{
  @responsive {
      .text-shadow {
        text-shadow: 0 2px 4px rgba(0,0,0,0.10);
      }
      .text-shadow-md {
        text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
      }
      .text-shadow-lg {
        text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
      }
      .text-shadow-none {
        text-shadow: none;
      }
      .title {
        @apply pt-8 pb-4 pr-4 text-right text-gray-500 uppercase font-header text-xxxxl text-shadow-md;
      }
    }
}